{% extends "rest_framework/base.html" %}
{% load staticfiles %}


{% block bootstrap_theme %}
    <link href="{% static 'gmql/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='{% url 'gmql:index' %}'>
                                    GMQL Service
                                </a>
{% endblock %}


{% block title %}
    GMQL REST API
{% endblock %}