{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block account_content %}
    <h1>{% trans "Register" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to 
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
    
<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary"  type="submit">{% trans "Register" %}</button>
  </div>
</form>
        

{% endblock %}


