{% load staticfiles %}
<h3>Background</h3>

Epigenomics Roadmap Project has gathered DNase-seq data for not less than 100 tissues. Sites, identified by DNase-seq are indicators of chromatin accessibility [Current bioinformatic approaches to identify DNase I hypersensitive sites and genomic footprints from DNase-seq data. Madrigal et al. 2012]. “Open” chromatin sites can harbor regulatory elements. It has been shown that occupancy of some transcription factors strongly correlate (up to 97%) with open chromatin sites.
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q11.png' %}"></p>
The figure [Open chromatin and diabetes risk. Groop. 2010] demonstrates an example of binding of a transcription factor in case of opened and closed chromatin. 
Thus, DAase-seq sites can be use to filter noisy ChIP-Seq data. So, Epigenomics Roadmap Project  DNase-seq data can be used to focus attention on the ChIP-Seq peaks that harbor inside the open chromatin regions. For instance, this type of filtration can be applied to ENCODE ChIP-Seq peaks, to return only the ones that intersect open chromatin sites.


<h3>Algorithm description</h3>

Find all ENCODE ChIP-Seq peaks of a certain tissue and antibody that intersect open chromatin regions of Epigenomics Roadmap Project.

<h3>Biological picture</h3>
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q12.png' %}"></p>
<h3>Query</h3>
<code>
encode=SELECT( antibody == '{antibody}' AND cell_tissue == '{cell_tissue}' ) ENCODE_BROADPEAK_HG19;<br>
dnaseseq=SELECT( ANATOMY == '{ANATOMY}' AND assay == 'DNase.hotspot.broad' ) EPIGENOME_BROADPEAK_HG19;<br>
encode_in_dnaseseq=JOIN(distance < 0, right) dnaseseq encode;<br>
MATERIALIZE encode_in_dnaseseq;<br>
</code>

<h3>Query description</h3>
ChIP-Seq peaks are selected from the ENCODE data collection for a particular antibody and tissue. Open chromatin regions are selected from Epigenomic Roadmap Project for a particular tissue. Selected ChIP-Seq peaks are joined with open chromatin regions, but only where the intersecting regions. The join is performed for all the selected samples, so each resulting sample is a selected ENCODE sample, but with peaks that intersect open chromatin regions.
In the following query ENCODE peaks for a certain tissue and transcription factor is used. But user-specified data can be filtered the same way with a similar query.


<h3>Query output</h3>
ENCODE collection contains 3 samples for CTCF transcription factor in breast tissue (GSM1022631, GSM1022663, GSM1022658): one sample of HMEC cell line and two replicates of MCF-7 cell line.
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q13.png' %}"></p>
The figure shows the number of ChIP-Seq peaks for each sample (168297, 219597, 253288 peaks). 
 <p><img class="img-responsive" src="{% static 'gmql/images/queries/q14.png' %}"></p>
After intersecting the peaks with Epigenomics Roadmap open chromatin regions the number of peaks is reduced significantly (66415, 55561, 67118). So for CTCF in breast tissue we can remove ~70% of ChIP-Seq peaks that fall outside open chromatin regions.
