{% load staticfiles %}
<h3>Background</h3>

It has been shown that mutation rates in cancer genomes are strikingly related to chromatin organization. At the megabase scale, a single feature—levels of the heterochromatin-associated histone modification H3K9me3—can account for more than 40% of mutation rate variation, and a combination of features can account for more than 55%. The strong association between mutation rates and chromatin organization is upheld in samples from different tissues and for different mutation types. This suggests that the arrangement of the genome into heterochromatin- and euchromatin-like domains is a dominant influence on regional mutation-rate variation in human somatic cells. The picture below demonstrate correlation of cancer mutations and H3K9me3 mark presence. [Chromatin organization is a major influence on regional mutation rates in human cancer cells. Schuster-Bockler et al. 2015].
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q41.png' %}"></p>
Epigenomics Roadmap project can be considered as data source of H3K9me3 regions that can be further explored.



<h3>Algorithm description</h3>

Find all Epigenomics Roadmap Project H3K9me3 regions (closed chromatine regions) for different tissues.

<h3>Query</h3>
<code>
epi=SELECT( assay == 'H3K9me3' AND ANATOMY == '{ANATOMY}' ) EPIGENOME_BROADPEAK_HG19;<br>
MATERIALIZE epi;</code>

<h3>Query description</h3>
The data is selected from the Epigenomics Roadmap Project dataset for the given histone-mark and tissue.



