{% load staticfiles %}
<h3>Background</h3>
Transcription factor binding at specific DNA sequences is the fundamental step in transcriptional regulation and is highly dependent on the chromatin structure context, which may be affected by specific histone modifications and variants, known as histone marks. The lack of a global binding map for hundreds of TFs means that previous studies have focused mainly on histone marks at binding sites for several specific transcriptions factors.
 <p><img class="img-responsive" src="{% static 'gmql/images/queries/q31.png' %}"></p>
It has been shown (e.g. in the figure) that shortlisted histone modifications are clustered around binding sites [The Patterns of Histone Modifications in the Vicinity of Transcription Factor Binding Sites in Human Lymphoblastoid Cell Lines. Nie et al. 2013]. This knowledge can be used to filter out binding sites that come from ChIP-Seq experiments to those surrounded by the histone modifications. For instance, the ChIP-Seq data can be taken from the ENCODE dataset and histone marks from the Epigenomics Roadmap Project. So it is possible to select only those ENCODE ChIP-Seq peaks that are surrounded by the histone modification regions.

<h3>Algorithm description</h3>

Find all ENCODE ChIP-Seq peaks of a certain tissue and antibody  that are surrounded by histone modification regions (H2A.Z, H3K27ac, H3K9ac, H3K4me1, H3K4me2, H3K4me3, H3K79me2) of Epigenomics Roadmap Project within a region (600 bp) around a peak.

<h3>Biological picture</h3>

<p><img class="img-responsive" src="{% static 'gmql/images/queries/q32.png' %}"></p>

<h3>Query</h3>
<code>encode=SELECT( antibody == 'CBX2' AND cell_tissue == 'blood' ) ENCODE_BROADPEAK_HG19;<br>
encode1=PROJECT(*; start = start-600, stop=stop+600) encode;<br>
epigenome=SELECT( ( assay == 'H2A.Z' OR assay == 'H3K27ac' OR assay == 'H3K9ac' OR assay == 'H3K4me1' OR assay == 'H3K4me2' OR assay == 'H3K4me3' OR assay == 'H3K79me2' ) AND ANATOMY == 'BLOOD' ) EPIGENOME_BROADPEAK_HG19;<br>
custom_in_epigenome=JOIN(distance < 0, right) epigenome encode1;<br>
custom_res=PROJECT(*; start = start+600, stop=stop-600) custom_in_epigenome;<br>
cover_res=COVER(1,ANY; GROUP BY encode1.ID) custom_res;<br>
MATERIALIZE cover_res;</code>

<h3>Query description</h3>
ChIP-Seq peaks are selected from the ENCODE data collection for a particular antibody and tissue. Selected peaks are elongated by 600 bp (can be changed). Open chromatin regions (H2A.Z, H3K27ac, H3K9ac, H3K4me1, H3K4me2, H3K4me3, H3K79me2) are selected from Epigenomics Roadmap Project for a particular tissue. Elongated ChIP-Seq peaks are joined with histone modification regions, but only where the intersecting regions. The join is performed for all the selected samples, so each resulting sample is a selected ENCODE sample, but with peaks that intersect histone modification regions. The resulting regions are reduced back by the size. Regions are covered grouping by the ID of an ENCODE sample, since when joining with histone modification samples there might by multiple samples produced.
In the following query ENCODE peaks for the certain tissue and the transcription factor is used. But user-specified data can be filtered the same way with a similar query.

