{% load staticfiles %}
<h3>Background</h3>

Super-enhancers are large clusters of transcriptional enhancers that play important role in cell regulation. For example, it was shown that tumor cells generate super-enhancers at oncogenes and other genes important in tumor pathogenesis [Super-Enhancers in the Control of Cell Identity and Disease. Hnisz et al. 2013].  Also ~60% of causal variants mapping to immune-cell enhancers, many of which gain histone acetylation (e.g. are super-enhancers) [Hafler et al. Genetic and epigenetic fine mapping of causal autoimmune disease variants, 2014].  So super-enhancers can be analyzed as distinct cis-regulatory element, but there must be methods to identify them for each organism, tissue and cell line.

Briefly, super-enhancer identification strategies are based on observations that super-enhancer regions are H3K27ac-enriched and form clusters of closely located (within 12.5 Kb) regions with high levels of H3K27ac-signals. The signal of a super-enhancer region is a normalized signal of regions that constitute the block. If normalized signal of a joined block close to 1 is considered a super-enhancer.

 
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q21.png' %}"></p>

Tools, like ROSE [Charles et al. 2013] and HOMER [Simple Combinations of Lineage-Determining Transcription Factors Prime cis-Regulatory Elements Required for Macrophage and B Cell Identities. Heinz et al. 2010 ] use the algorithm described above to identify super-enhancers. Yet, they are designed to find super-enhancers using raw-data (BAM files, ChIP-Seq data of H3K27ac). 

The GMQL service provides a way to identify super-enhancers using the Epigenomics Roadmap Project data. Using the ChIP-Seq results of H3K27ac it is possible to find super-enhancers for all tissues that the Roadmap Project has. Further, it is possible to intersect found super-enhancers with user regions or use raw data of users as an input, to identify super-enhancers in it. 

<h3>Algorithm description</h3>

Find all candidate super-enhancers for a given tissue, expression level threshold and co-location distance. Epigenomics Roadmap Project H3K27ac ChIP-Seq regions for a given tissue are extended by co-location distance (12500 bp, by default). Intersected regions are joined together to form blocks of super-enhancer candidates, the signal of the block is a sum of signals of all regions in it. For each sample, the blocks are mapped to chromosome regions, to define how the maximum value of the signal for normalization. The regions resulting regions are joined back to assign normalizations values to each region. If the normalized signal of a block is above the threshold it is considered a candidate super-enhancer.

<h3>Biological picture</h3>
<p><img class="img-responsive" src="{% static 'gmql/images/queries/q22.png' %}"></p>

<h3>Query</h3>
<code>
s1=SELECT( assay == 'H3K27ac' AND ANATOMY == '{ANATOMY}' ) EPIGENOME_BROADPEAK_HG19;<br>
s2=PROJECT(*; start = start-{elongation}, stop=stop+{elongation}) s1;<br>
s3=COVER_FLAT(1, ANY; sum_score AS SUM(score)) s2;<br>
sg=SELECT( * ) GENOME_HG19;<br>
s4=MAP(norm_score AS MAX(sum_score)) sg s3;<br>
s5=MAP(filter_score AS MAX(norm_score_sum_score)) s3 s4;<br>
s6=PROJECT(*;super_val as 100*sum_score-{threshold}*filter_score_norm_score_sum_score) s5;<br>
s7=PROJECT(super_val>0) s6;<br>
MATERIALIZE s7;<br>
</code>

<h3>Query description</h3>
Data is selected from the Epigenomics Roadmap project for a particular tissue and H3K27ac. The regions are elongated to 6250 bp. The elongated regions are joined if they have inner intersections, the score of the block is a sum of scores of regions. Regions equal to length of chromosomes are selected. The elongated regions are mapped to chromosomes to determine the maximum value of the score for each sample and each chromosome. The data is joined back to assign the maximum value to each region. The variables are renamed to be a part of a projection. The elongated regions are joined again, but now they have maximum chromosome-wide value of the score. The filtration score is calculated, and filtration is performed. The resulting variable contains the candidate super-enhancers for the given tissue.
