{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Service admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Service administration'|default:_('Service administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
