.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
}


.sidebar  {
    margin-top: 80px;
    margin-bottom: 20px;
    position: fixed;

}

.sidebar ul {
    list-style-type: none;
    color: #767676;


}

.sidebar  a{
    list-style-type: none;
    color: #767676;

}

input.search-query {
    padding-left:26px;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}


h1[id],
h2[id]{
    padding-top:60px;
    margin-top:-60px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.chart{
    padding-bottom: 80px;
    width: 100%;
    height: 900px;
}

.chart-table{
    width: 100%;
}

.table-scrollable{
    overflow: auto;
}

.chart_selectable{
    width: 100%;
}

.doc-section{
    padding-bottom: 100px;
}

.doc-section pre {
  display: block;
  width: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  white-space: pre;
  word-wrap: normal;
}

.doc-section code {
    white-space: inherit;
}


