{% extends "gmql/base.html" %}

{% block gmql_content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>About</h3></div>
            <div class="panel-body">
                <h4>What is it?</h4>
                <p>A set of services-as-queries for GMQL.</p>
                <br>
                <h4>What is GMQL?</h4>
                <p>The <b>GenoMetric Query Language (GMQL)</b> operates upon aligned genomic data in a variety of data formats; it provides parallel computation in the cloud, thereby supporting queries over thousands of samples, such as the ones provided by ENCODE and Roadmap Epigenomics consortia. The language's name indicates its ability to compute massive operations on genomic regions, which take into account region relative positions and distances.</p>
                <br>
                <h4>Contacts</h4>
                <p>Stefano Ceri: ceri AT elet DOT polimi DOT it</p>
                <br>
                <h4>More information</h4>
                <p><a href="http://www.bioinformatics.deib.polimi.it/genomic_computing/">GMQL web-site</a></p>
            </div>
        </div>
    </div>
{% endblock %}