{% load staticfiles %}
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GMQL Service</title>


    <link href="{% static 'gmql/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'gmql/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link  href="{% static 'gmql/images/favicon.ico' %}" rel="icon" type="image/x-icon" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="{% static 'gmql/bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    {% block extrahead %}
    {% endblock %}
    <script type="text/javascript">
        $(function () {
            {% block jquery %}
            {% endblock %}
        });
    </script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'gmql:index' %}">GMQL Service</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'gmql:queries' %}">Tools</a></li>
                <li><a href="{% url 'gmql:custom' %}">Custom query</a></li>
                <li><a href="{% url 'gmql:documentation' %}">Documentation</a></li>
                <li><a href="{% url 'pybb:index' %}">Forum</a></li>
                <li><a href="{% url 'rest' %}">API</a></li>
                <li><a href="{% url 'gmql:about' %}">About</a></li>
                {% if user.is_authenticated and user.is_staff%}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><img class="img-circle" src="{{ user.image }}"/></li>
                    <li><a href="{% url 'profile' %}" >{{ user.email }}</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


{% block gmql_content %}
{% endblock %}




<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'gmql/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'gmql/bootstrap/js/docs.min.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59251542-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>