{% extends "gmql/base.html" %}
{% load bootstrap staticfiles%}

{% block extrahead %}
    <script src="{% static 'gmql/codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'gmql/codemirror/lib/codemirror.css' %}">
    <script src="{% static 'gmql/codemirror/mode/gmql/gmql.js' %}"></script>
    <link href="{{ STATIC_URL }}gmql/bootstrap/css/queries.css" rel="stylesheet">
{% endblock %}

{% block gmql_content %}

    <div class="container">
        <form action="{% url 'gmql:custom' %}" method="post">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Custom query
                        <button type="submit" class="btn btn-info btn-sm" name="submit_example"> Hello, world</button>
                    </h3>
                </div>
                <div class="panel-body">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {% csrf_token %}
                    {{ custom_form|bootstrap }}
                {% if special_metas %}
                    <div class="bs-callout bs-callout-info">
                        <h4>Available Datasets</h4>
                        The datasets can be used in the queries. Each dataset has associated metadata parameters, click on a dataset to see all its parameters.
                        <ul>
                        {% for sm in special_metas %}
                            <li><a href="{% url 'gmql:metadata' sm.name %}">{{ sm.name }}</a></li>
                        {% endfor %}
                        </ul>
                        </div>
                {% endif %}
                    <button type="submit" class="btn btn-primary" name="submit_parameters">Generate parameters</button>
                </div>
            </div>

            {% if parameters_form %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Parameters</h3>
                    </div>
                    <div class="panel-body">
                        {{ parameters_form.management_form }}
                        <table id="formset" class="table">

                            {% for form in parameters_form %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>
                                                {% if field.label != 'Name' %}
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                {% endif %}
                                                {{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="{% cycle row1,row2 %}">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}

                                            {% if field.label != 'Name' %}

                                                {{ field }}

                                            {% else %}
                                                {# to include data in the POST #}
                                                {{ field.as_hidden }}

                                                {{ field.value }}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary btn-lg" name="submit_create"><span
                        class="glyphicon glyphicon-ok"></span> Create query
                </button>
            {% endif %}
        </form>

    </div>

{% endblock %}