{% extends "gmql/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link href="{% static 'gmql/bootstrap/css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block gmql_content %}
    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'gmql/images/example2.jpg' %}" alt="First slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Bioinformatics queries.</h1>

                        <p>Genomic operations with immidiate response.</p>

                        {% if not user.is_authenticated %}
                            <p><a class="btn btn-lg btn-primary" href="{% url 'account_login' %}" role="button">Log in</a></p>
                        {% else %}
                            <p><a class="btn btn-lg btn-primary" href="{% url 'gmql:queries' %}" role="button">Tools</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'gmql/images/example3.jpg' %}" alt="Second slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Tools.</h1>

                        <p>Easy to use: select a query, set parameters and get the result.</p>

                        <p><a class="btn btn-lg btn-primary" href="{% url 'gmql:queries' %}" role="button">Tools</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'gmql/images/example5.jpg' %}" alt="Third slide">

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Custom query.</h1>

                        <p>Create a custom service with parameters.</p>

                        <p><a class="btn btn-lg btn-primary" href="{% url 'gmql:custom' %}" role="button">Create</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'gmql/images/plate.png' %}"
                     alt="Generic placeholder image">
            </div>

            <div class="col-md-7">
                <h2 class="featurette-heading">Bioinformatics services: <span class="text-muted">data retrieving, filtering, transformation.</span>
                </h2>

                <p class="lead">Point-and-click services to process your data right away. Intersect your own data with public collections.</p>
            </div>
        </div>


        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Performance. <span class="text-muted">For rapid data processing.</span>
                </h2>

                <p class="lead">Each task is performed on a high-performance cloud-based server to rabidly query biodata collections.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'gmql/images/server.jpg' %}"
                     alt="Generic placeholder image">
            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'gmql/images/gmql_logo.png' %}"
                     alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Flexibility. <span class="text-muted">For new services.</span>
                </h2>

                <p class="lead">Each service is a parametrised query in GenoMetric Query Language. Add a new query - get a new service.</p>
            </div>

        </div>


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql/images/genomics.png' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">

                <h2>Genomic regions</h2>

                <p>Basic operations on genomic regions: filtering, sorting, intersection</p>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql/images/encode.png' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">

                <h2>ENCODE Data</h2>

                <p>Retrieving ENCODE samples and intersecting with your data</p>
            </div>
            <div class="col-lg-3">
                <img class="img-circle" src="{% static 'gmql/images/epigenome.jpg' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">

                <h2>Epigenome Roadmap Data</h2>

                <p>Introduces epignomic data to research</p>
            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->

        <hr class="featurette-divider">


        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="{% url 'gmql:index' %}">Back to top</a></p>

            <p>&copy; {% now "Y" %} PoliMi. &middot; <a href="{% url 'gmql:licence' %}">License</a>
        </footer>

    </div><!-- /.container -->
{% endblock %}

