{% extends "gmql/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <link href="{% static 'gmql/social-buttons/social-buttons.css' %}" rel="stylesheet">
{% endblock %}

{% block gmql_content %}

    <div class="container">
        {% if user.is_authenticated %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if user.first_name %}
                        <h3>Welcome, {{user.first_name}}</h3>
                    {% else %}
                        <h3>Welcome</h3>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                        Your profile
                                </h5>

                            </div>
                            <div class="panel-body">
                              <p>Email: {{ user.email }}</p>
                                {% if user.first_name %}
                                    <p>First Name: {{ user.first_name }}</p>
                                {% endif %}
                                {% if user.last_name %}
                                    <p>Last Name: {{ user.last_name }}</p>
                                {% endif %}
                                    <p><img class="img-circle" width="50" height="50" src="{{ user.image}}" /></p>
                                {% for account in user.socialaccount_set.all %}

                                {% empty %}
                                    {% load socialaccount %}
                                    <a href="{% provider_login_url "google" process="connect" %}" class="btn btn-social btn-google-plus">
                                        <i class="fa fa-google"></i> Connect Google account
                                    </a>
                                    <a href="{% provider_login_url "facebook" method="js_sdk" process="connect" %}" class="btn btn-social btn-facebook">
                                        <i class="fa fa-facebook"></i> Connect Facebook account
                                    </a>
                                    <p>
                                    <a href="{% url 'account_change_password' %}">
                                        Change password
                                    </a>
                                    </p>
                                {% endfor %}

                                <a href="{% url 'account_logout' %}" class="btn btn-primary">
                                        Log out
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if task_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Tasks</h4>
                </div>
                <div class="panel-body">
                    {% for task in task_list %}
                        <p><a href="{% url 'gmql:task' task.id %}">{{ task.get_display_name }}</a></p>
                    {% endfor %}
                </div>
            </div>


            {% endif %}

            {% if custom_query_list%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Custom queries</h4>
                </div>
                <div class="panel-body">
                    {% for query in custom_query_list %}
                        <p><a href="{% url 'gmql:query' query.id %}">{{ query.name }}</a></p>
                    {% endfor %}
                </div>
            </div>


            {% endif %}





    {% else %}
        <h1>Welcome</h1>
        <p>Please, <a href="{% url 'account_login' %}">login</a> to see your profile</p>
    {% endif %}

    </div>
{% endblock %}
