{% extends "gmql/base.html" %}
{% load staticfiles %}
{% load gmql_tags %}
{% load bootstrap %}

{% block extrahead %}
    <link href="{% static 'gmql/bootstrap/css/queries.css' %}" rel="stylesheet">
{% endblock %}
{% block gmql_content %}
    <div class="container">
    <div class="col-lg-9">
        {% if not mostly_used_query_list and not custom_query_list %}
            <p>No queries are available.</p>
        {% else %}
            {% if mostly_used_query_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Select a built-in query</h3>
                </div>
                <div class="panel-body">
                        <div class="list-group">
                            {% for query in mostly_used_query_list %}
                                    <a href="{% url 'gmql:query' query.id %}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ query.name }}</h4>
                                <span class="pull-right">
                                    {% if query.has_file_input %}
                                                <span class="badge badge-important"><i class="fa fa-upload"></i></span>
                                    {% endif %}
                          <span class="badge badge-important">{{ query.used }}</span>

                            </span>

                                    <p class="list-group-item-text">{{ query.description }}</p>

                                </a>
                            {% endfor %}
                        </div>

                </div>
            </div>
            {% endif %}
            {% if custom_query_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Select your custom query</h3>
                </div>
                <div class="panel-body">
                        <div class="list-group">
                            {% for query in custom_query_list %}
                                <a href="{% url 'gmql:query' query.id %}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ query.name }}</h4>
                                        <span class="pull-right">
                                            {% if query.has_file_input %}
                                                <span class="badge badge-important"><i class="fa fa-upload"></i></span>
                                    {% endif %}
                                            <span class="badge badge-important">{{ query.used }}</span>

                                        </span>
                                    <p class="list-group-item-text">{{ query.description }}</p>
                                </a>
                            {% endfor %}
                        </div>

                </div>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-3">
        {% if tag_categories %}
            <div class="sidebar">
            <form class="form-search form-inline" action="." method="post">
                {% csrf_token %}
                <div class="input-group">
                {{  search_form.search_value|add_class:"form-control" }}

                     <span class="input-group-btn">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                </div>
            </form>
                {% url 'gmql:queries' as login_url %}
                {{ tag_categories|tags_list:login_url |safe}}
            </div>
        {% endif %}
    </div>

    </div>

{% endblock %}
