{% extends "gmql/base.html" %}


{% block extrahead %}
     <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" type="text/css">
    <link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    <script src="{{ STATIC_URL }}gmql/js/query.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}gmql/css/query.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}gmql/bootstrap/css/queries.css" rel="stylesheet">


{% endblock %}


{% block gmql_content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ query.name }}
                    {% if not query.is_global %}
                        <a class="btn btn-info btn-sm" href="{% url 'gmql:delete_query' query.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}


                </h3>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Description
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ query.description }}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Query
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                 {{ query.query|linebreaks }}
                            </div>
                        </div>
                    </div>
                    {% if query.details %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Details
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% include query.details %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    <form action="{% url 'gmql:query' query.id %} " method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Parameters
                {% if query.has_defaults %}
                    <button type="submit" class="btn btn-info btn-sm" name="see">See defaults</button>
                    <button type="submit" class="btn btn-info btn-sm" name="try">Try with defaults</button>
                {% endif %}
                {% if query.has_selection %}
                    <button type="submit" class="btn btn-primary btn-sm" name="check">Hint</button>
                {% endif %}
                </h4>
            </div>
            <div class="panel-body">
                    {% csrf_token %}
                    {{ formset.non_form_errors.as_ul }}
                    <table id="formset" class="table">
                        {% for form in formset %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>
                                            {% if field.label == 'Value' %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% endif %}
                                            {{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle row1,row2 %}">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}

                                        {% if field.label == 'Value' %}
                                            {{ field }}
                                        {% else %}
                                            {# to include data in the POST #}
                                            {{ field.as_hidden }}

                                            {{ field.value }}

                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    {% if hint_statements %}
                        <div class="bs-callout bs-callout-info">
                        <h4>Selection Hint</h4>
                        Estimates how many samples will be selected with given parameters. Please, pay attention to the statements that return 0 samples, in that case the whole query may finish with no result.
                        {% if not hint_statements.checked %}
                                <p class="lead">No selection hint available.</p>
                            {% else %}

                                <ul>
                                {% for hint_statement in hint_statements.statements %}

                                    <li
                                        {% if hint_statement.count == 0 %}
                                             class="text-danger"
                                        {% endif %}
                                        >
                                        <b>{{  hint_statement.count }} sample(s)</b> will be selected by {{ hint_statement.statement_with_parameters }}
                                    </li>

                                {% endfor %}
                                </ul>

                            {% endif %}
                        </div>

                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-lg" name="run"><span class="glyphicon glyphicon-ok"></span>
                        Run
                    </button>

            </div>

        </div>
</form>
    </div>

{% endblock %}
