{% extends "gmql/task_graphs.html" %}

{% load gmql_tags %}

{% block task_result %}
    {% for item in file_list|partition_label %}
        {% if forloop.first %}
            <table class="table">
            <thead>
            <tr>
                <td>

                </td>
            {% for label in item.labels %}
               <td>
                    {{ label }}
               </td>
            {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tr>
           <td>
                {{ item.name }}
           </td>
            {% for file in item.files %}
               <td>
                    <a href="{% url 'gmql:file_download' task.id file.id %}">Download</a>
               </td>
            {% endfor %}
        </tr>

        {% if forloop.last %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block task_browser %}
    {% for file in igb_files %}
        {% if forloop.first %}
            <p class="lead">
                <i><a href="http://bioviz.org/igb/index.html">IGB</a> Visualization</i>. Please, launch <a href="http://bioviz.org/igb/index.html">IGB</a> on your computer and then click a link below.
            </p>
            <ul>
        {% endif %}
            <li>
                <a href="{{ file.igb_link }}">Open {{ file }} in IGB</a>
            </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
