{% extends 'gmql/base.html' %}

{% load gmql_tags %}

{% block gmql_content %}

    {% if task.status == "Running" %}
        <script type="text/javascript">
            var timeout = setTimeout("location.reload(true);", 6000);
        </script>
    {% endif %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Task {{ task }} <a class="btn btn-info btn-sm" href="{% url 'gmql:query' task.query.id %}">New task</a></h1>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Status
                                </a>
                            </h5>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <b>{{ task.status }}</b>
                                {{ task.report_status|default_if_none:"" }}
                            </div>
                        </div>
                    </div>
                    {% if task.status == "Error" %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Error
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {{ task.last_error|linebreaks }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Query
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ task.get_script_with_parameters }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        {%if not file_list and task.status == "Success" %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Empty Output</h4>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        The query has been successfully performed, but the output is empty.
                    </p>
                    <p>
                        Possible reasons:
                        <ul>
                            <li>There are no samples to select with given input parameters</li>
                            <li>The intersection of regions leads to the empty result set</li>
                            <li>No MATERIALIZE statement in the query</li>
                        </ul>
                    </p>
                </div>
            </div>
        {% endif %}

        {% if file_list and task.status != "Error" %}

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4>Results</h4>
                </div>
                <div class="panel-body">
                    <p class="lead">
                        The result will be deleted in one day.
                    </p>
                    {% block task_result %}
                    {% endblock %}

                    {% block task_browser %}
                    {% endblock %}
                </div>
            </div>


            {% block chart_data %}
            {% endblock %}

        {% endif %}
    </div>

    {% block chart_js %}
    {% endblock %}

{% endblock %}
