{% extends 'gmql/task_base.html' %}

{% load staticfiles charts %}

{% block extrahead %}
    <script src="{% static  'gmql/highcharts/js/highcharts.js'%}"></script>
    <script src="{% static  'gmql/highcharts/js/modules/exporting.js'%}"></script>
    <script src="{% static  'gmql/highcharts/js/modules/heatmap.js'%}"></script>
    <script src="{% static  'gmql/highcharts/js/export-csv-master/export-csv.js'%}"></script>
    <link href="{% static 'gmql/bootstrap/css/queries.css' %}" rel="stylesheet">
{% endblock %}


{% block chart_data %}
    {% for archive in charts|partition_charts%}
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ archive.archive_name }}</h4>
                </div>
                <div class="panel-body">
                    {% for chart in  archive.charts%}
                        {{ chart|chart_container|safe }}
                    {% endfor %}
                </div>
            </div>
    {% endfor %}
{% endblock %}

{% block  chart_js%}
    {% for archive in charts|partition_charts%}
        {% for chart in  archive.charts%}
            {{ chart|chart_data|safe }}
        {% endfor %}
    {% endfor %}
{% endblock %}
