{% extends "gmql/base.html" %}
{% block gmql_content %}
<div class="container">

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
{% block account_content %}
{% endblock %}
</div>
{% endblock %}