{% extends "account/base.html" %}

{% load staticfiles %}
{% load socialaccount %}
{% load bootstrap %}
{% load i18n %}
{% block extrahead %}
    <link href="{% static 'gmql/social-buttons/social-buttons.css' %}" rel="stylesheet">
{% endblock %}

{% block account_content %}


<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p class="lead">{% blocktrans with site.name as site_name %}Please log in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">register</a>
for a {{site_name}} account and log in
below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
<a href="{% provider_login_url "google" process="login" %}" class="btn btn-social btn-google-plus">
        <i class="fa fa-google"></i> Log in with Google account
    </a>
    <a href="{% provider_login_url "facebook" method="js_sdk" process="login" %}" class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Log in with Facebook account
    </a>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Log In" %}</button>
    <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

  </div>
</form>


{% endblock %}

