{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Log Out" %}</h1>

<p>{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Log Out' %}</button>
</form>


{% endblock %}