{% extends "gmql/base.html" %}

{% load url from future %}


{% load i18n pybb_tags staticfiles%}

{%block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <!-- Feeds -->
    <link href="{% static 'gmql/css/forum.css' %}" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{% url 'pybb:feed_posts' %}" title="{% trans "Latest posts on forum" %}" >
    <link rel="alternate" type="application/atom+xml" href="{% url 'pybb:feed_topics' %}" title="{% trans "Latest topics on forum" %}" >
{% endblock %}

{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" %}
{% endblock %}
{% block gmql_content %}

    <div class="container">

{% block content %}{% endblock content %}

    </div>
{% endblock gmql_content %}

